<h2 class="h1 text-center" data-aos="fade-up" data-aos-duration="700" data-aos-delay="500" data-aos-mirror="false" data-aos-once="true">О нас</h2>
<div class="banner" data-aos="fade-up" data-aos-duration="700" data-aos-delay="1000" data-aos-mirror="false" data-aos-once="true">
    <div class="banner__image" style="background-image: url(images/content/main-page/block_5/img_1@2.jpg)"></div>
    <div class="banner__text-block">
        <h3 class="banner__title">Вы находитесь на официальном сайте непубличного акционерного общества «ВАН ШОП ВОРЛД». Компания основана в 2019 году, Акционерное Общество создано путем реорганизации ООО «ВАН ШОП ВОРЛД».</h3>
        <p>Наша цель – создание комфортных условий для эффективной работы, спокойного отдыха и полноценной жизни для миллионов людей.</p>
    </div>
</div>