<div class="advantage-block">
    <h2 class="advantage-block__title h1">Наши<br> задачи</h2>
    <div class="advantage-block__list">
        <div class="advantage-block__item" data-aos="fade-right" data-aos-duration="700" data-aos-delay="500" data-aos-mirror="false" data-aos-once="true">
            <div class="advantage">
                <div class="advantage__image advantage__image--big"><img src="images/content/main-page/block_6/img_1@2.jpg" alt=""></div>
                <p class="advantage__title">Разрабатываем уникальные строительные объекты</p>
            </div>
        </div>
        <div class="advantage-block__item" data-aos="fade-left" data-aos-duration="700" data-aos-delay="500" data-aos-mirror="false" data-aos-once="true">
            <div class="advantage">
                <div class="advantage__image advantage__image--mid"><img src="images/content/main-page/block_6/img_2@2.jpg" alt=""></div>
                <p class="advantage__title">Строим уютные жилые и продуманные нежилые здания</p>
            </div>
        </div>
        <div class="advantage-block__item" data-aos="fade-up" data-aos-duration="700" data-aos-delay="500" data-aos-mirror="false" data-aos-once="true">
            <div class="advantage">
                <div class="advantage__image advantage__image--small"><img src="images/content/main-page/block_6/img_3@2.jpg" alt=""></div>
                <p class="advantage__title">Реализуем качественные продукты и непродовольственные товары</p>
            </div>
        </div>
        <div class="advantage-block__item" data-aos="fade-up" data-aos-duration="700" data-aos-delay="500" data-aos-mirror="false" data-aos-once="true">
            <div class="advantage">
                <div class="advantage__image advantage__image--small"><img src="images/content/main-page/block_6/img_4@2.jpg" alt=""></div>
                <p class="advantage__title">Помогаем<br> создавать личные капиталы</p>
            </div>
        </div>
        <div class="advantage-block__item" data-aos="fade-up" data-aos-duration="700" data-aos-delay="500" data-aos-mirror="false" data-aos-once="true">
            <div class="advantage">
                <div class="advantage__image advantage__image--small"><img src="images/content/main-page/block_6/img_5@2.jpg" alt=""></div>
                <p class="advantage__title">Консультируем<br> бизнес</p>
            </div>
        </div>
    </div>
</div>