<div class="privilege-block">
    <div class="privilege-block__item" data-aos="fade-right" data-aos-duration="700" data-aos-delay="500" data-aos-mirror="false" data-aos-once="true">
        <div class="privilege-block__title">
            <h2>Наша деятельность</h2>
            <p>Товары и услуги, которые нужны каждый день, тоже могут приносить доход. Убедитесь в этом с One Shop World</p>
        </div>

        <figure class="privilege-image">
            <img src="images/content/main-page/block_4/img_1@2.jpg" alt="" />
            <a href="#">
                <figcaption class="privilege-image__caption">Разработка строительных проектов</figcaption>
            </a>
        </figure>

    </div>
    <div class="privilege-block__item" data-aos="fade-left" data-aos-duration="700" data-aos-delay="500" data-aos-mirror="false" data-aos-once="true">
        <div class="privilege-cols">
            <div class="privilege-cols__col">

                <figure class="privilege-image privilege-image--small">
                    <img src="images/content/main-page/block_4/img_2@2.jpg" alt="" />
                    <a href="#">
                        <figcaption class="privilege-image__caption">Строительство</figcaption>
                    </a>
                </figure>


                <figure class="privilege-image privilege-image--small">
                    <img src="images/content/main-page/block_4/img_4@2.jpg" alt="" />
                    <a href="#">
                        <figcaption class="privilege-image__caption">Розничные магазины</figcaption>
                    </a>
                </figure>

            </div>
            <div class="privilege-cols__col">

                <figure class="privilege-image privilege-image--small">
                    <img src="images/content/main-page/block_4/img_3@2.jpg" alt="" />
                    <a href="#">
                        <figcaption class="privilege-image__caption">Инвестиции</figcaption>
                    </a>
                </figure>


                <figure class="privilege-image privilege-image--small">
                    <img src="images/content/main-page/block_4/img_5@2.jpg" alt="" />
                    <a href="#">
                        <figcaption class="privilege-image__caption">Консультирование бизнеса</figcaption>
                    </a>
                </figure>

            </div>
        </div>
    </div>
</div>