<div class="block-1 way">
  <div class="block-1__image" data-aos="fade-up" data-aos-duration="700" data-aos-delay="500" data-aos-mirror="false" data-aos-once="true"><img src="images/content/main-page/block_1/img_1@2.jpg" alt=""></div>
  <div class="block-1__text-block">
    <div class="block-1__text-block-inner">
      <div class="block-1__decor" data-aos="fade-down" data-aos-duration="700" data-aos-delay="500" data-aos-mirror="false" data-aos-once="true"><img src="images/content/main-page/block_1/img_2@2.jpg" alt=""></div>
      <div class="block-1__description">
        <p class="way__pre-title" data-aos="fade-down" data-aos-duration="700" data-aos-delay="500" data-aos-mirror="false" data-aos-once="true">Направление</p>
        <h1 class="way__title" data-aos="fade-left" data-aos-duration="700" data-aos-delay="500" data-aos-mirror="false" data-aos-once="true">3D‑дома</h1>
        <p class="way__text" data-aos="fade-right" data-aos-duration="700" data-aos-delay="500" data-aos-mirror="false" data-aos-once="true">Забудьте все, что Вы знали о строительстве домов. Теперь собственное жилье доступно каждому</p>
        <a class="way__button button" href="#" data-aos="fade-left" data-aos-duration="700" data-aos-delay="500" data-aos-mirror="false" data-aos-once="true">Подробнее</a>
      </div>
    </div>
  </div>
</div>
