<div class="block-2 way">
  <div class="block-2__images">
    <div class="block-2__image-2" data-aos="fade-down" data-aos-duration="700" data-aos-delay="500" data-aos-mirror="false" data-aos-once="true"><img src="images/content/main-page/block_2/img_2@2.jpg" alt=""></div>
    <div class="block-2__image-1" data-aos="fade-up" data-aos-duration="700" data-aos-delay="500" data-aos-mirror="false" data-aos-once="true"><img src="images/content/main-page/block_2/img_1@2.jpg" alt=""></div>
  </div>
  <div class="block-2__text-block">
    <div class="block-2__description">
      <p class="way__pre-title" data-aos="fade-down" data-aos-duration="700" data-aos-delay="500" data-aos-mirror="false" data-aos-once="true">Направление</p>
      <h2 class="block-2__title way__title" data-aos="fade-left" data-aos-duration="700" data-aos-delay="500" data-aos-mirror="false" data-aos-once="true">Товары</h2>
      <p class="way__text" data-aos="fade-right" data-aos-duration="700" data-aos-delay="500" data-aos-mirror="false" data-aos-once="true">Мы провели огромную работу - ради одной цели. И эта цель - Сделать так, чтобы Вы были уверенны в том, что попадает к Вам на стол</p>
      <a class="way__button button" href="catalog-section.html" data-aos="fade-left" data-aos-duration="700" data-aos-delay="500" data-aos-mirror="false" data-aos-once="true">Подробнее</a>
    </div>
    <!--<div class="block-2__decor" data-aos="fade-up" data-aos-duration="700" data-aos-delay="500" data-aos-mirror="false" data-aos-once="true"><img src="images/content/main-page/block_2/img_3@2.jpg" alt=""></div>-->
  </div>
</div>
