<div class="block-3 way">
  <div class="block-3__image" data-aos="fade-down" data-aos-duration="700" data-aos-delay="500" data-aos-mirror="false" data-aos-once="true"><img src="images/content/main-page/block_3/img_1@2.jpg" alt=""></div>
  <div class="block-3__text-block">
    <div class="block-3__text-block-inner">
      <div class="block-3__decor" data-aos="fade-up" data-aos-duration="700" data-aos-delay="500" data-aos-mirror="false" data-aos-once="true"><img src="images/content/main-page/block_3/img_2@2.jpg" alt=""></div>
      <div class="block-3__description">
        <p class="block-3__pre-title way__pre-title" data-aos="fade-up" data-aos-duration="700" data-aos-delay="500" data-aos-mirror="false" data-aos-once="true">Направление</p>
        <h1 class="block-3__title way__title" data-aos="fade-left" data-aos-duration="700" data-aos-delay="500" data-aos-mirror="false" data-aos-once="true">Топливная<br> программа</h1>
        <p class="way__text" data-aos="fade-right" data-aos-duration="700" data-aos-delay="500" data-aos-mirror="false" data-aos-once="true">Вместе с компанией OneShop Вы прикоснетесь к миру больших денег</p>
        <a class="way__button button" href="fuel-program.html" data-aos="fade-left" data-aos-duration="700" data-aos-delay="500" data-aos-mirror="false" data-aos-once="true">Подробнее</a>
      </div>
    </div>
  </div>
</div>
