<footer class="footer">
    <div class="footer__inner container">
        <div class="footer__left">
            <p class="footer__copyright">© One Shop World Ltd. 2020</p>
            <ul class="footer__links">
                <li class="footer__links-item"><a class="footer__link" href="#">Условия обработки персональных данных</a></li>
                <li class="footer__links-item"><a class="footer__link" href="#">Политика в отношении обработки персональных данных</a></li>
            </ul>
        </div>
        <div class="footer__contacts">
            <p class="footer__contact">Email:<br> <a class="footer__contact-link" href="mailto:info@one-shopw.com">info@one-shopw.com</a></p>
            <p class="footer__contact">Тех. поддержка:<br> <a class="footer__contact-link" href="mailto:texpomosh@one-shopw.com">texpomosh@one-shopw.com</a></p>
        </div>
    </div>
</footer>