<header class="header">
    <div class="header__inner container">
        <a class="header__logo" href="main.html"><img src="images/logo.svg" alt="Oneshop"></a>
        <div class="header__menu-block">
            <div class="header__menus">
                <nav class="main-menu">
                    <ul class="main-menu__list">
                        <li class="main-menu__item"><a class="main-menu__link" href="main.html">Главная</a></li>
                        <li class="main-menu__item"><a class="main-menu__link" href="about.html">Портрет АО</a></li>
                        <li class="main-menu__item"><a class="main-menu__link" href="#">Раскрытие информации</a></li>
                        <li class="main-menu__item"><a class="main-menu__link" href="reports.html">Отчётность</a></li>
                        <li class="main-menu__item"><a class="main-menu__link" href="contacts.html">Контакты</a></li>
                    </ul>
                </nav>
            </div>
            <div class="header__links">
                <div class="header__user-links">
                    <a class="header__user-link user-link" href="#">
                        <span class="user-link__icon-block user-link__icon-block--user"></span>
                        <span class="user-link__text">Константин<br> Серпанский</span>
                    </a>

                    <a class="header__user-link user-link" href="#">
                        <span class="user-link__icon-block user-link__icon-block--logout"></span>
                        <span class="user-link__text"><b>Выйти</b></span>
                    </a>

                    <button class="js-menu-toggler menu-toggler" type="button">
                        <svg class="menu-toggler__burger" aria-hidden="true">
                            <use xlink:href="#burger" />
                        </svg>
                        <svg class="menu-toggler__close" aria-hidden="true">
                            <use xlink:href="#close" />
                        </svg>
                    </button>
                </div>
            </div>
        </div>
    </div>
</header>